{% extends 'base.html.twig' %}

{% block body %}

  {% block navigation %}
    {{parent()}}
  {% endblock %}

  {% block header %}
    {{parent()}}
  {% endblock %}
  
<!-- Flash Messages-->
    {% for message in app.flashes('error') %}
            <div class="alert alert-warning ">
                <h6>{{ message }}</h6>
            </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success align-items-center">
            <p class= "align-items-center">{{ message }} </>
        </div>
    {% endfor %}

  {% if app.user %}

    {% if app.user.roles[0] == 'ROLE_ADMIN' %}

      {% include 'home/index_admin.html.twig' %}

    {% else %}

      {% include 'home/index_user.html.twig' %}

    {% endif %}

  {% else %}

    {% include 'home/index_nouser.html.twig' %}

  {% endif %}

  {% block javascripts %}
    {{parent()}}
  {% endblock %}

  {% block footer %}
    {{parent()}}
  {% endblock %}

{% endblock %}