<!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          
                    {% set maxPrice = prices|length %}

                      {% for product in products %}
                        {% set i = 0 %}
                            <div class="col mb-5">
                                <div class="card h-100">
                                {% if product.status == true %}
                                    <h6 class="text-center text-success">
                                    <i class="bi bi-circle-fill"></i>
                                    Active Product
                                    </h6>
                                {% endif %}
                                {% if product.status == false %}
                                    <h6 class="text-center text-danger" >
                                    <i class="bi bi-circle-fill"></i>
                                    Inactive Product
                                    </h6>
                                {% endif %}
                                    <!-- Product image-->
                                    <img class="card-img-top"src="{{ product.imagepath }}" alt="{{ product.name }}" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{ product.name }}</h5>
                                            <!-- Product price-->
                                            <h6 class="card-text">{{ product.description }}</h6>
                                            
                                            {% for price in prices %}
                                                {% set priceId = prices[i].getProductid().getId() %}

                                                {% if priceId == product.id %}
                                                    {% if price.status == true %}
                                                        {% set priceValue = price.value %}
                                                        {{price.value}} €
                                                    {% endif %}
                                                {% endif %}
                                                    {% if i < maxPrice %}
                                                        {% set i = i + 1 %}
                                                    {% endif %}
                                              {% endfor %}

                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            <a class="btn btn-outline-dark mt-auto" href="{{ path('product.detail', {id: product.id}) }}">
                                            View details
                                            </a>
                                            <a class="btn btn-outline-dark mt-auto dropdown-toggle" role="button" data-bs-toggle="dropdown" id="manageProduct" aria-expanded="false">
                                              Manage Product
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="manageProduct">
                                                <li><a class="dropdown-item" href="{{ path('product.update', {id: product.id}) }}">Edit product</a></li>
                                                {% if product.status == true %} 
                                                <a class="dropdown-item" href="{{ path('product.disable', {id: product.id}) }}">Disable Product</a></li>
                                                {% endif %} 
                                                {% if product.status == false %}
                                                <a class="dropdown-item" href="{{ path('product.enable', {id: product.id}) }}">Enable Product</a></li>
                                                {% endif %}
                                                <a class="dropdown-item" href="{{ path('product.delete', {id: product.id}) }}">Delete Product</a></li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                      {% endfor %}
                </div>
            </div>
        </section>
                            

