{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}}
{% endblock %}

{% block body %}
    {% block navigation %}
        {{parent()}}
    {% endblock %}
    <div class="container">
        <br>
        {{ form_start(productForm) }}

        {{ form_widget(productForm) }}

        <input type="submit" value="Submit" class="btn btn-success">

        {{ form_end(productForm) }}

    </div>

    {# {% block footer %}
        {{ parent()}}
    {% endblock %} #}
            
                
    {% block javascripts %}
        {{ parent()}}
    {% endblock %}

{% endblock %}


